.DS_Store
.idea
.vscode

.git
.gitignore

node_modules
npm-debug.log
yarn.lock

database/*.sqlite
database/*.sqlite-journal
storage/*
!storage/app
!storage/app/public

tests

.env
.env.*

docker-compose.yml
