.git
.gitignore
.env
.env.example
.env.testing
Dockerfile
docker-compose.yml
node_modules
vendor
public/hot
public/storage
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
tests
report
coverage
phpunit.xml
phpunit.dusk.xml
README.md
