dt.fi-in-entry-wrp-label,
header.fi-section-header h3.fi-section-header-heading,
label.fi-fo-field-wrp-label,
label.fi-fo-field-label > span.fi-fo-field-label-content,
th.fi-ta-header-cell > span,
button.fi-ac-btn-action,
.fi-sc-actions-label,
.fi-modal-heading {
  text-transform: capitalize;
}

.fi-topbar-item {
  width: 80px;

  .fi-select-input-value-remove-btn {
    display: none !important;
  }
}

.integration-settings-page {
  .fi-sc.fi-inline.fi-sc-has-gap.fi-sc-dense {
    display: unset;
    gap: unset;

    & > * {
      display: inline-block;
    }
  }
}
